{% extends "base.html" %}
{% load i18n %}

{% block container %}
    <div class="content" style="padding:100px 300px 50px 100px">
    <legend><span class="col-sm-offset-1">{% trans 'About' %}</span></legend>

    <p>Schoolhooks is a social platform where old and current students of different schools in Nigeria could hook up, Search for as much phone numbers as you want, then you can connect with your friends through whatsapp.</p>
    <br/>
    <hr/>
          <div class="alert alert-info" role="alert">
              <strong>&copy; Schoolhooks 2015</strong> Designed and Developed by Mark Emmanuel.
            </div>


    </div>
{% endblock %}